<div class="ui form">
  <h4>Registro</h4>
  <hr>
  <!-- Datos personales -->
  <div id="subirFoto" class="item" style="display: flex;">
    <div class="ui image" style="margin: 10px; width: 20%;">
      <img (click)="onFileSelected()" title="Subir imagen" [src]="this.input.imagen" width="150px" height="150px">
    </div>
    <div class="content" style="width: 80%;">
      <div class="field">
        <label>Nombre completo</label>
        <div class="three fields">
          <div class="field">
            <input type="text" placeholder="Nombre" [(ngModel)]="this.input.nombre">
          </div>
          <div class="field">
            <input type="text" placeholder="Apellidos" [(ngModel)]="this.input.apellidos">
          </div>
          <div class="field">
            <select [(ngModel)]="this.input.tipo">
              <option value="">Tipo</option>
              <option value="usuario">Usuario</option>
              <option value="administrador">Administrador</option>
            </select>
          </div>
        </div>
      </div>
      <div class="fields">
        <div class="seven wide field">
          <label>Email</label>
          <input type="text" placeholder="Email" [(ngModel)]="this.input.email">
        </div>
        <div class="seven wide field">
          <label>Password</label>
          <input type="password" placeholder="Password" [(ngModel)]="this.input.password">
        </div>
        <div class="three wide field">
          <label>Edad</label>
          <input type="number" maxlength="3" placeholder="Edad" [(ngModel)]="this.input.edad">
        </div>
      </div>

    </div>
  </div>

  <!-- Direccion -->
  <h4>Dirección</h4>
  <hr>
  <div class="fields">
    <div class="seven wide field">
      <label>Colonia</label>
      <input type="text" placeholder="Colonia" [(ngModel)]="this.input.direccion.colonia">
    </div>
    <div class="seven wide field">
      <label>Calle</label>
      <input type="text" placeholder="Calle" [(ngModel)]="this.input.direccion.calle">
    </div>
    <div class="three wide field">
      <label>Numero</label>
      <input type="number" placeholder="Numero" [(ngModel)]="this.input.direccion.numero">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Estado</label>
      <input type="text" placeholder="Estado" [(ngModel)]="this.input.direccion.estado">
    </div>
    <div class="field">
      <label>Pais</label>
      <input type="text" placeholder="Pais" [(ngModel)]="this.input.direccion.pais">
    </div>
  </div>
  <!-- TARJETA DE CREDITO -->
  <h4>Tarjeta</h4>
  <hr>
  <div class="three fields">
    <div class="field">
      <label>Tipo</label>
      <input type="text" placeholder="Tipo" [(ngModel)]="this.input.tarjeta.tipo">
    </div>
    <div class="field">
      <label>Numero</label>
      <input type="text" placeholder="Numero" [(ngModel)]="this.input.tarjeta.numero">
    </div>
    <div class="field">
      <label>CVC</label>
      <input type="text" placeholder="CVC" [(ngModel)]="this.input.tarjeta.cvc">
    </div>
  </div>
  <div class="field">
    <label>Expiración</label>
    <div class="two fields">
      <div class="field">
        <select class="ui fluid search dropdown" [(ngModel)]="this.input.tarjeta.expiracion.mes">
          <option value="">Mes</option>
          <option value="1">Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
      </div>
      <div class="field">
        <input type="number" placeholder="Año" [(ngModel)]="this.input.tarjeta.expiracion.ano">
      </div>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
    </div>
    <div class="field">
      <div class="two fields" *ngIf="!this.statusEdit; else elseTemplate">
        <div class="field btn btn-pink" style="margin-right: 1px;" (click)="onGuardar()">
          Guardar
        </div>
        <div class="field btn btn-gray" style="margin-left: 1px;" (click)="onDescartar()">
          Descartar
        </div>
      </div>
      <ng-template #elseTemplate>
        <div class="two fields">
          <div class="field btn btn-pink" style="margin-right: 1px;" (click)="onEditar()">
            Editar
          </div>
          <div class="field btn btn-gray" style="margin-left: 1px;" (click)="onEliminar()">
            Eliminar
          </div>
        </div>

      </ng-template>
    </div>
  </div>
</div>