<div class="body">
  <div class="container-fluid">

      <div id="errorRegistro" class="alert alert-danger" *ngIf="showMessage">
        <i class="close icon" (click)="onClose()"></i>
        <div id="message" class="header">
          No se pudo iniciar sesión
        </div>
        <p> Usuario y/o contraseña inválidos
        </p>
      </div>
      
      <div id="contenedorLogo">
          <h1 class="text-center display-1">3Delicias</h1>
          <h1 class="text-center">Endulzando tu vida</h1>
      </div>
    
      <div class="contenedorInicio">
        <h1>Login</h1>
        <div>
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="Correo electrónico" [(ngModel)]="inputs.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Contraseña" [(ngModel)]="inputs.password">
        </div>
        <div>
            <div type="submit" class="btn btn-block btn-pink" (click)="onLogin()">Iniciar Sesión</div>
        </div>
        <hr>
        <div>
            <div type="submit" class="btn btn-block btn-pink" (click)="onRegister()">Reg&iacute;strate</div>
        </div>
      </div>
    
    
    
      <!-- <div class="ui form margin-150-auto">
        <div class="field txt-centered">
          3 Delicias
        </div>
        <div class="field">
          <img class="ui small centered circular image" src="./../../../assets/images/usuario.png">
        </div>
        <div class="field">
          <label>Email</label>
          <input type="email" name="" placeholder="Email" [(ngModel)]="inputs.email">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="" placeholder="Password" [(ngModel)]="inputs.password">
        </div>
        <div class="ui button fluid" (click)="onLogin()"> Login </div>
        <div class="ui button fluid" style="margin-top: 5px;" (click)="onRegister()"> Registrarse </div>
      </div> -->
  </div>
  
  <div id="contenedorLogo">
      <h1 class="text-center display-1">3Delicias</h1>
      <h1 class="text-center">Endulzando tu vida</h1>
  </div>

  <div class="contenedorInicio">
    <h1>Login</h1>
    <div>
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control" id="email" placeholder="Correo electrónico" [(ngModel)]="inputs.email">
    </div>
    <div>
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Contraseña" [(ngModel)]="inputs.password">
    </div>
    <div>
        <div type="submit" class="btn btn-block btn-pink" (click)="onLogin()">Iniciar Sesión</div>
        <div type="submit" class="btn btn-block btn-pink" (click)="password()">Recuperar Contraseña</div>
    </div>
    <hr>
    <div>
        <div type="submit" class="btn btn-block btn-pink" (click)="onRegister()">Reg&iacute;strate</div>
    </div>
  </div>



  <!-- <div class="ui form margin-150-auto">
    <div class="field txt-centered">
      3 Delicias
    </div>
    <div class="field">
      <img class="ui small centered circular image" src="./../../../assets/images/usuario.png">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="email" name="" placeholder="Email" [(ngModel)]="inputs.email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="" placeholder="Password" [(ngModel)]="inputs.password">
    </div>
    <div class="ui button fluid" (click)="onLogin()"> Login </div>
    <div class="ui button fluid" style="margin-top: 5px;" (click)="onRegister()"> Registrarse </div>
  </div> -->
</div>
<script>
  $('.carousel').carousel();
</script>