p{
 color: white;
 font-family: 'AuthenticHilton',Brush Script MT,cursive;   
 font-size: 25px;
}
div{
    text-align: center;
}
.body{
    background-image: url('/../../../assets/images/login05.jpg');
    height: 100%;
    background-size: cover;
    background-position-y: center;
}