<div class="ui link cards f-justify-space-around">
  <div class="card" *ngFor="let provider of providersList" (click)="onSelectCard(provider)">
    <div class="image">
      <img [src]="provider.imagen" style="height: 200px;">
    </div>
    <div class="content">
      <div class="header"></div>
      <div class="meta">
        <a>Provedor: </a> {{ provider.nombre }}
      </div>
      <div class="description">
        <div>Email: {{ provider.email }}</div>
        <div>Telefono: {{ provider.telefono }}</div>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Agregado el {{ this.formatDate(provider.creado)}}
      </span>
    </div>
  </div>

</div>